<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Allergy Xray</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/startup/flat-ui/images/favicon.ico">
    <link rel="stylesheet" href="static/startup/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/startup/flat-ui/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="static/startup/flat-ui/css/flat-ui.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="static/startup/common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="static/startup/flat-ui/js/html5shiv.js"></script>
    <![endif]-->
    </head>
    <body>
        <!-- header-10 -->
        <header class="header-10">
            <div class="container">
                <div class="navbar span12">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar"> </button>
                        <a class="brand" href="#">Allergy Xray</a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li><a data-section="SectionApp" href="#">App</a></li>
                                <li><a data-section="SectionIngredients" href="#">How it works</a></li>
                                <li><a data-section="SectionCooking" href="#">Why?</a></li>
                                <li><a data-section="SectionHere" href="#">Try us</a></li>
                            </ul>                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-10-sub v-center">
            <div class="background">&nbsp;</div>
            <div>
                <div class="container">
                    <div class="hero-unit">
                        <h1>Ingredients should be obvious.</h1>
                        <p>Know exactly what is in your groceries with just one scan <br /> No surprises. No risk.</p>
                    </div>
                </div>
            </div>
            <span class="scroll-btn"><a href="#"> <span class="mouse"><span> </span></span></a></span>
        </section>       
        
        <!-- content-7  -->
        <section class="content-7 v-center" id="SectionApp">
            <div>
                <div class="container">
                    <h3>Take a look at our prototype</h3>
                    <div class="row v-center">
                        <div class="span3">                            
                            <div class="span3"><a href="#">Select your allergies</a> and we scan your products for allergens and ingredients.
                                <img src="static/img/allergens/egg.png" width=50 height=50 alt="">
                                <img src="static/img/allergens/milk.png" width=50 height=50 alt="">
                                <img src="static/img/allergens/wheat.png" width=50 height=50 alt="">
                                <img src="static/img/allergens/soy.png" width=50 height=50 alt="">
                            </div>
                        </div>
                         <div class="span4">                           
                            <div class="span4 offset1">
                                <div class="screen-wrapper-custom">
                                    <div class="screen-custom">
                                        <img src="static/img/AllergyXray@2x.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span3 info">                            
                            <div class="span3 offset1">
                                <h6>Scan and stay safe</h6>
                                We believe in simplicity. No funny business, simply select your allergies and scan.
                                <h6>If you are safe, you see green.</h6>
                                <h6>If we find something, we tell you.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content-23  -->
        <section class="content-23 v-center custom-bg" id="SectionIngredients">
            <div>
                <div class="container">
                    <div class="hero-unit hero-unit-bordered">
                        <h1>Buy the ingredients for your recipe</h1>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

        <!-- content-8  -->
        <section class="content-8 v-center">
            <div>
                <div class="container">
                    <img src="static/img/allergens/egg.png"alt="">
                    <img src="static/img/allergens/fish.png"alt="">
                    <img src="static/img/allergens/milk.png"alt="">
                    <img src="static/img/allergens/peanut.png"alt="">
                    <img src="static/img/allergens/shellfish.png"alt="">
                    <img src="static/img/allergens/wheat.png"alt="">
                    <img src="static/img/allergens/soy.png"alt="">
                </div>
            </div>
        </section>

        <!-- content-8  -->
        <section class="content-8 v-center learning-cook">
            <div>
                <div class="container">
                    <img src="static/img/dinamit@2.png" width="200" height="200" alt="" />
                    <h3>We’re almost here!</h3>
                    <div class="row">
                        <div class="span6 offset3">
                            <p>We are taking care of the last steps for the project launch and soon we will have our first beta release. If you don’t want to miss our release you can sign up for the project newsletter.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content-13  -->
        <section class="content-13 subscribe-form bg-clouds">
            <div class="container">
                <div class="row">
                    <form action="http://herokuapp.us8.list-manage.com/subscribe/post?u=a48bdda3c359e86a59ffb2f08&amp;id=42d0264dd8" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                        <input type="hidden" name="u" value="a48bdda3c359e86a59ffb2f08">
                        <input type="hidden" name="id" value="42d0264dd8">
                        <input type="hidden" name="orig-lang" value="1">
                        <div class="span8">
                            <input type="email" placeholder="Enter your e-mail" spellcheck="false" autocapitalize="off" autocorrect="off" name="EMAIL" id="MERGE0"  value="">
                        </div>
                        <div class="span4">
                            <button class="btn btn-large btn-success" type="submit">Notify Me</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- footer-3 -->
        <footer class="footer-3">
            <div class="container">
                <div class="row v-center">
                    <div class="span2">
                        <div class="span2">
                            <a class="brand" href="#">Hipsta Food</a>
                        </div>
                    </div>
                    <div>
                        <div class="span7">
                            <div class="additional-links">Made by Hipsta Food Crew. Powered by <a href="http://designmodo.com/startup" target="_blank">Startup Framework</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="//use.typekit.net/wwv4ffe.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="static/startup/flat-ui/js/jquery-1.8.3.min.js"></script>
        <script src="static/startup/flat-ui/js/bootstrap.min.js"></script>
        <script src="static/startup/common-files/js/easing.min.js"></script>
        <!--[if lt IE 8]>
        <script src="static/startup/flat-ui-pro/js/icon-font-ie7.js"></script>
        <![endif]-->
        <script src="static/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="static/startup/common-files/js/jquery.parallax.min.js"></script>
        <script src="static/startup/common-files/js/startup-kit.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>